<%- include('./head') %>
    <link rel="stylesheet" href="../styles/custom-css/external-header.css" />
  </head>

  <body>
    <div class="container nav-container">
      <!-- <header> -->
        <nav class="nav navbar navbar-expand-lg navbar-light my-1 px-2">
          <a href="/" class="navbar-brand"
            ><img src="../img/icons/zuri-logo.svg" alt="zuri logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav nav-links ml-auto">
              <!-- <ul class="nav-links"> -->
              <li class="nav-item mx-3"><a href="/">Home</a></li>
              <li class="nav-item mx-3"><a href="/hngi7">HNGi7</a></li>
              <li class="nav-item mx-3"><a href="/mentors">Mentors</a></li>
              <li class="nav-item mx-3"><a href="/contact">Contact</a></li>
              <li class="nav-item mx-3"><a href="/login">Login</a></li>
              <li class="nav-item mx-3">
                <a href="#" class="btn">Join Zuri</a>
              </li>
            </ul>
          </div>
        </nav>
      <!-- </header> -->
    </div>
