<footer>
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="row">
      <div class="summary col-6 col-lg-3 mb-3">
        <h4>About Us</h4>
        <p>We are known for connecting top talents with top comapnies. We make great possibilities happen.</p>
      </div>

      <div class="contact col-6 col-lg-3 mb-3">
        <h4>Get In Touch</h4>
        <li><a href="mailto:hello@hng.tech">hello@hng.tech</a></li>
        <li><a href="tel:+2348123456789">+234 (0) 812 345 6789</a></li>
      </div>

      <div class="visit col-6 col-lg-3 mb-3">
        <h4>Visit</h4>
        <p>3 Birrel Avenue, Sabo. Yaba, Lagos State, Nigeria
        </p>
      </div>

      <div class="social-media col-6 col-lg-3 mb-3">
        <h4>Follow</h4>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="https://twitter.com/hnginternship">Twitter</a></li>
      </div>
    </div>

    <form>
      <input type="email" class="form-control mx-sm-3 mx-auto" placeholder="Enter your Email" required>
      <button type="submit" class="mx-auto">Subscribe</button>
    </form>
  </div>

  <% let date = new Date(), 
      year = date.getFullYear();
  %>

  <small>&#169; <%- year %> HNG Internship. All Rights Reserved.</small>
</footer>
<link rel="stylesheet" href="../../styles/custom-css/footer.css">
</body>

</html>