<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (title) {%>
    <title>HNGi8 | <%= title %></title>
    <% } %>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/bootstrap-css/bootstrap.css" />
    <script src="../js/bootstrap-js/popper.js"></script>
    <script src="../js/bootstrap-js/jquery.js"></script>
    <script src="../js/bootstrap-js/bootstrap.js"></script>
