* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --sidebar-width: 18rem;
}

.container nav {
  /* margin: 3rem auto 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  max-height: max-content;
  color: #7e5ae3;
  position: relative;
}

nav h4 {
  color: #9272c2;
  margin: 0;
  font-weight: 700;
}

nav ul {
  display: flex;
  margin: 0 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
}

nav ul li {
  margin: 0 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#userPhoto {
  margin: 0 1.25rem 0 0;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.sidebar-container {
  position: relative;
  min-height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 2rem;
  background-color: #9272c2;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
}

#sidebarToggler {
  fill: #9272c2;
  position: absolute;
  left: 0;
  top: 0.75rem;
  padding: 6px 0;
}

/* #sidebarToggler svg { */
/* fill: white; */
/* fill: #9272c2; */
/* z-index: 6 !important; */
/* } */

.sidebar div.logo-section {
  margin-top: 1rem;
  height: 2rem;
  margin-bottom: 2.75rem;
}

.sidebar div.logo-section p {
  line-height: 1.125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.sidebar > ul {
  width: 100%;
}

.sidebar > ul > li {
  display: block;
  list-style-type: none;
  margin: auto;
  font-size: 1.125rem;
  padding: 1rem 0;
  height: max-content;
  font-weight: 600;
}

.sidebar > ul li * {
  color: #ffffff50;
}

.sidebar > ul li.active *,
.sidebar > ul li:hover > a {
  color: #fff;
  /* fill: white; */
}

.sidebar > ul > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding-left: 2.5rem;
  transition: transform 0.3s ease-in-out;
}

.sidebar > ul > li:hover a {
  transform: scale(1.05);
}

.sidebar ul li a svg:first-of-type {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar ul li a svg:not(:first-of-type) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar li ul.sub-list {
  display: none;
  margin-top: 0.5rem;
  padding-left: 2.5rem;
  list-style-type: none;
}

.sidebar li.active ul.sub-list,
.sidebar li:hover ul.sub-list {
  display: block;
}

.sidebar ul.sub-list li.sub-list-item {
  padding: 0.25rem;
  font-weight: 400;
  font-size: 1rem;
}

.sidebar ul.sub-list li.sub-list-item:hover,
.sidebar ul.sub-list li.sub-list-item.active {
  color: #fff;
  list-style-type: disc;
}

.sidebar ul.sub-list li.sub-list-item a {
  display: block;
  text-decoration: none;
  width: 100%;
}

.sidebar ul.sub-list li.sub-list-item a:hover {
  transform: scale(1.05);
}

div.body {
  width: 100%;
}

@media (min-width: 991px) {
  .sidebar {
    transform: translateX(0);
  }

  div.body {
    transform: translateX(18rem);
    width: calc(100% - 18rem);
  }
}

@media (max-width: 991px) {
  nav h4 {
    margin-left: 2.125rem;
  }
}
