* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --sidebar-width: 18rem;
}

.container nav {
  /* margin: 3rem auto 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  max-height: max-content;
  color: #7e5ae3;
  position: relative;
}

nav h4 {
  color: #9272c2;
  margin: 0;
  font-weight: 700;
}

nav ul {
  display: flex;
  margin: 0 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
}

nav ul li {
  margin: 0 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#userPhoto {
  margin: 0 1.25rem 0 0;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

@media (max-width: 991px) {
  nav h4 {
    margin-left: 2.125rem;
  }
}
