@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  background-image: url(../../img/hero-bg.svg);
  background-repeat: no-repeat;

  background-size: contain;
}


.hero-header{
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  color: #573F7B;
  margin-bottom: 0px;
}
.hero-paragraph{
  font-size: 24px;
  line-height: 42px;
  align-items: center;
  color: #573F7B;
  margin-bottom: 0px;
}
.contactp{
  position: absolute;
  top:50px;
  left: -70px;
  background-color: #9272C2;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.header{
  padding: 15px 0;
  font-weight: 600;
  font-size: 36px;
}
.icons{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 20px;
}
.icons p{
  margin-bottom: 0;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;

}
.icons img{
  margin-left: 20px;
  align-self: flex-start; 
}
.header-two{
  font-weight: 600;
  font-size: 36px;
  border-bottom:1px solid white;
  display: inline-block;
  padding-bottom: 10px;
}
.form-heading{
  color: #573F7B;
  font-weight: 600;
  padding: 20px 0;
  font-size: 36px;
}
.contact-page{
  position: relative;
  width: 90%;
  background-color: #F5F4FA;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 13% auto 10% auto;
  
}
.form-control {
  background-color:rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  margin-bottom: 2rem;
  border: none;
}
::placeholder {
  color: rgba(108, 87, 139, 0.8)  !important;
  font-size: 18px !important;
}
.send-btn {
  color: #fff !important;
  background-color:#9272C2;
  border-radius: 5px;  
  font-size: 24px;
  padding: .313em 3.125em;
  margin-bottom: 30px;
}
.footer-icons {
  margin-top:10px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .hero-header{
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
    color: #573F7B;
  }
  .hero-paragraph{
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #573F7B;
    margin-bottom: 0px;
  }
  .hero{
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    
  }
  .contactp{
    position: static;
    background-color: #9272C2;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .contact-page{
    position: static;
    width: 100%;
    margin: 30px 0;
    
  }
  .hero-img{
    display: none;
  }
  .form-heading, .contact-btn {
    text-align: center;
  }
}

@media only screen and (max-width: 578px) {
  .hero-header{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #573F7B;
    margin-top: 0px;
   
  }
  .hero-paragraph{
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    color: #573F7B;
    margin-top: 0px;
  }
  .hero{
    width: 100%;
    margin-top: 0px;
    margin-left: 10px;
    
  }
  .hero-img{
    display: none;
  }
  .header, .header-two, .form-heading {
    font-size: 25px;
  }

  .send-btn {
    font-size: 18px;
  }

  .icons p, ::placeholder {
    font-size: 14px;
  }
}