:root {
  --text-color: #7e5ae3;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  /* margin: 3rem auto 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  max-height: max-content;
  color: var(--text-color);
  background-color: #f5f4fa;
}

/* header > nav {
  margin-left: auto;
} */

header h4 {
  color: #9272c2;
  margin: 0;
  font-weight: 700;
}

header ul {
  display: flex;
  margin: 0 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  background-color: inherit;
}

header ul li {
  margin: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li a {
  cursor: pointer;
  color: var(--text-color);
  margin: 0.25rem 0;
  position: relative;
}

header ul li:not(:last-of-type) a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.25rem;
  border-radius: 20px;
  background-color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

header ul li:not(:last-of-type):hover a::after,
header ul li.active a::after {
  opacity: 1;
}

header ul li.active a,
header ul li a:hover {
  color: #573f7b;
  text-decoration: none;
}

header ul li button.btn {
  border: 1px solid #9272c2;
  color: #9272c2 !important;
  margin: 0.25rem 0;
  /* color: #fff !important; */
  transition: transform 0.3s ease-in-out;
}

header ul li button.btn:hover {
  background-color: #9272c2;
  color: #fff !important;
  transform: scale(1.01);
}

header ul li.dropdown > div.join-zuri {
  min-width: 5rem;
  width: 114px;
  height: max-content;
  border-radius: 5px;
  border: 1px solid #9272c2;
  padding: 0.5rem;
  color: #9272c2;
}

header ul li.dropdown > div.join-zuri a {
  width: 100%;
  color: #9272c2;
  padding: 0.5rem;
  border: 1px solid #9272c2;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

header ul li.dropdown > div.join-zuri a:hover {
  transition: transform 0.3s ease-in-out;
  background-color: #9272c2;
  color: #fff !important;
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  header ul li.nav-item {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 0.5rem 136px !important;
  }

  header > .navbar-collapse ul {
    margin-top: 1rem;
  }

  header > .navbar-collapse ul li.nav-item {
    margin-left: 0 !important;
    justify-content: start;
  }

  header > .navbar-collapse ul li button.btn,
  header > .navbar-collapse li.dropdown > div.join-zuri {
    width: 100%;
  }

  header ul li.dropdown > div.join-zuri a:hover,
  header ul li button.btn:hover {
    transform: scale(1);
  }
}

@media (min-width: 1025px) {
  header {
    padding: 0.5rem 136px !important;
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  header {
    padding: 0.5rem 3.9% !important;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  header {
    padding: 0.5rem 5.668% !important;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem 2.5rem !important;
  }
}

@media (max-width: 475px) {
  header {
    padding: 0.5rem 5% !important;
  }
}
