:root {
  --text-color: #7e5ae3;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body > header:first-of-type {
  /* margin: 3rem auto 60px; */
  min-height: 5rem;
  max-height: max-content;
  color: var(--text-color);
  background-color: #f5f4fa;
}

body > header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* flex-wrap: ; */
}

body > header > .container > button.navbar-toggler {
  position: absolute;
  right: 0;
  top: 1.2rem;
  transform: translateY(-50%);
}

/* body > header:first-of-type > nav {
  margin-left: auto;
} */

body > header:first-of-type h4 {
  color: #9272c2;
  margin: 0;
  font-weight: 700;
}

body > header:first-of-type ul {
  display: flex;
  margin: 0 1rem;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  background-color: inherit;
}

body > header:first-of-type ul li {
  margin: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > header:first-of-type ul li a {
  cursor: pointer;
  color: var(--text-color);
  margin: 0.25rem 0;
  position: relative;
}

body > header:first-of-type ul li:not(:last-of-type) a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0.25rem;
  border-radius: 20px;
  background-color: var(--text-color);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

body > header:first-of-type ul li:not(:last-of-type):hover a::after,
body > header:first-of-type ul li.active a::after {
  opacity: 1;
}

body > header:first-of-type ul li.active a,
body > header:first-of-type ul li a:hover {
  color: #573f7b;
  text-decoration: none;
}

body > header:first-of-type ul li button.btn {
  border: 1px solid #9272c2;
  color: #9272c2 !important;
  margin: 0.25rem 0;
  /* color: #fff !important; */
  transition: transform 0.3s ease-in-out;
}

body > header:first-of-type ul li button.btn:hover {
  background-color: #9272c2;
  color: #fff !important;
  transform: scale(1.01);
}

body > header:first-of-type ul li.dropdown > div.join-zuri {
  min-width: 5rem;
  width: 114px;
  height: max-content;
  border-radius: 5px;
  border: 1px solid #9272c2;
  padding: 0.5rem;
  color: #9272c2;
}

body > header:first-of-type ul li.dropdown > div.join-zuri a {
  width: 100%;
  color: #9272c2;
  padding: 0.5rem;
  border: 1px solid #9272c2;
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

body > header:first-of-type ul li.dropdown > div.join-zuri a:hover {
  transition: transform 0.3s ease-in-out;
  background-color: #9272c2;
  color: #fff !important;
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  body > header:first-of-type ul li.nav-item {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 991px) {
  body > header:first-of-type > .container > .navbar-collapse ul {
    margin-top: 1rem;
  }

  body > header:first-of-type > .container > .navbar-collapse ul li.nav-item {
    margin-left: 0 !important;
    justify-content: start;
  }

  body > header:first-of-type > .container > .navbar-collapse ul li button.btn,
  body
    > header:first-of-type
    > .container
    > .navbar-collapse
    li.dropdown
    > div.join-zuri {
    width: 100%;
  }

  body > header:first-of-type ul li.dropdown > div.join-zuri a:hover,
  body > header:first-of-type ul li button.btn:hover {
    transform: scale(1);
  }
}

@media (min-width: 1025px) {
  body > header:first-of-type {
    padding: 0;
    margin: 0;
  }

  body > header:first-of-type > .container {
    padding: 0.5rem 136px !important;
    margin: 0;
    max-width: 100%;
  }
}
