footer {
  background-color: #f5f4fa;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  width: 100%;
  color: #573f7b;
}

footer div.container {
  border-bottom: 1.5px solid #9272c2;
  margin-bottom: 2rem;
}

footer a {
  color: #573f7b;
}

footer h4 {
  color: #573f7b;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

footer li {
  list-style: none;
}

footer li:not(:first-of-type) {
  margin-top: 0.75rem;
}

footer .container form {
  margin: 1rem auto 4rem;
  max-width: 90%;
  display: flex;
  padding: 0;
}

footer form input.form-control {
  border: 1px solid #573f7b70;
  height: 3rem;
  line-height: 1rem;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  max-width: 30rem;
}

footer form button {
  background-color: #573f7b;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  color: #fff;
  height: 3rem;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

footer form button:hover {
  background-color: #573f7b;
  transform: scale(1.05);
}

footer form button:active,
footer form button:visited {
  border: none;
  outline: none;
}

footer small {
  font-weight: 300;
  text-align: center;
  display: block;
}

@media (max-width: 970px) {
  footer .container div.row div {
    text-align: center;
  }

  div.contact li:not(:first-of-type),
  div.social-media li:not(:first-of-type) {
    margin-top: 0.5rem;
  }
}

@media (max-width: 500px) {
  footer .container form {
    margin: 0 auto 2rem;
    flex-direction: column;
    max-width: 90%;
  }

  footer .container form input.form-control {
    margin-bottom: 1rem;
    max-width: 90%;
  }

  footer .container form button {
    width: max-content;
    margin: auto;
    /* transform: scale(0.95); */
  }

  footer .container form button:hover {
    transform: scale(1);
  }
}

@media (max-width: 575px) {
  footer .container form {
    max-width: 80%;
    padding: 0 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
