@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}
p,a,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    width: inherit;
}

.hero img{
    width: 100%;
    max-height: 1000px;
}
.txt-box{
    position: absolute;
    top: 210px;
    left: 136px;
}
.head-txt{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(0.75rem, 4vw), 48px);
    line-height: min(max(28px, 4vw), 64px); 
    color: #9272C2;
    margin-bottom: 30px;
}
.head-sub{
    font-style: normal;
    font-weight: 500;
    font-size: min(max(0.75rem, 4vw), 24px);
    line-height: min(max(28px, 4vw), 36px); 
    letter-spacing: -0.28px;
    color: #573F7B;
    margin-bottom: 30px;
}
.join-now{
    padding: 15px;
    text-align: center;
    background: #9D86DE;
    border-radius: 5px;
    width: 289px;
    height: 68px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    cursor: pointer;
}
.mobile-img{
    display: none;
}

.about{
    margin-top: 10%;
}
.head-txt-2{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(0.75rem, 4vw), 48px);
    line-height: min(max(24px, 4vw), 72px); 
    letter-spacing: -0.28px;
    color: #573F7B;
}
.txt-box-2{
    max-width: 600px;
    display: block;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
}
.description{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(0.75rem, 4vw), 18px);
    line-height: min(max(28px, 4vw), 27px); 
    text-align: left !important;
    letter-spacing: -0.28px;
    color: #573F7B;
}
#cover{
    margin-top: 10%;
    margin-bottom: 10%;
}
.about-title{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(0.75rem, 4vw), 24px);
    line-height: min(max(28px, 4vw), 36px); 
    color: #573F7B;
    text-align: left;
    margin-left: 40px;
}
.about-big{
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 144px;
    color: #9272C2;
    text-align: center;
}
.about-cover{
    display: block;
    max-width: 300px;
    height: 300px;
    padding: 40px;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10000px;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 100000px;
}

.benefit{
    margin-bottom: 10%;
}
.head-2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.28px;
    color: #573F7B;
    text-align: center;
    margin-bottom: 10%;
}
.txt-box-3{
    display: block;
    background: #9272C2;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 20px;
    max-width: 327px;
    padding: 20px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.benefit-title{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(15px, 4vw), 24px);
    line-height: 36px;
    letter-spacing: -0.28px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}
.benefit-sub{
    font-style: normal;
    font-weight: normal;
    font-size: min(max(0.75rem, 4vw), 16px);
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.28px;
    color: #FFFFFF;
}

#cur-cur{
    margin-top: -80%;
    margin-bottom: 20%;
}
.head-4{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
    margin-bottom: 80px;
}
.curry{
    position: relative;
}
.curry > img{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
.txt-box-4{
    background: #FEFFFF;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 20px;
    max-width: 370px;
    padding: 20px;
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.dd-button{
    display: block;
    margin-left: auto;
}
#cur-top{
    margin-top: 50px;
}
.cur-head{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
}
.cur-sub{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(8px, 4vw), 16px);
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.28px;
    color: #9272C2;
}
.card{
    margin-top: 5%;
    color: #FFFFFF;
    background: #573F7B !important;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 40px !important;
    outline: none !important;
    border: none;
}

.mentors{
    margin-top: 10%;
}
.head-5{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
    margin-bottom: 80px;
}
.txt-box-5{
    padding: 20px;
    max-width: 504px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 10%;

}
.men-head{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #9272C2;
}
.men-sub{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.28px;
    color: #27274C;
}
.men-dis{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(8px, 4vw), 16px);
    line-height: min(max(20px, 4vw), 36px); 
    text-align: center;
    letter-spacing: -0.28px;
    color: #573F7B;
}
.move{
    position: absolute;
    top: 20px;
    left: 150px;
    z-index: 2;
}
#con{
    position: relative;
}
.move-2{
    position: absolute;
    top: 450px;
    left: 750px;
    z-index: 2;
}
.view-more{
    text-align: center;
    background: #9272C2;
    border-radius: 5px;
    width: 238px;
    cursor: pointer;
    padding: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.faq{
    margin-top: 10%;
}
.head-7{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
    text-align: center;
    margin-bottom: 10%;
}
.txt-box-7{
    background: #FFFFFF;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 5px;
    max-width: 350px;
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.faq-head{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
}
.faq-sub{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.28px;
    color: #573F7B;
}
.faq-link{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.28px;
    color: #573F7B;
}

.sponsor{
    margin-bottom: 10%;
    margin-top: 10%;
}
.head-8{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 40px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
    text-align: center;
}
.bas{
    font-style: normal;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    width: 289px;
    height: 68px;
    background: #9272C2;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-bottom: 20%;
    margin-top: 20px;
    margin-right: auto;
}
.sponsors{
    display: block;
    margin: auto;
    width: 150px;
}
.sponsors1{
    display: block;
    margin-left: auto;
    width: 150px;
}
.sponsors2{
    margin-right: auto;
    width: 150px;
}

.slider{
    position: relative;
    margin-top: 10%;
}
.txt-box-6{
    background: #573F7B;
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
    border-radius: 20px;
    padding: 40px;
    max-width: 518px;
    text-align: center;
    margin-left: 40%;
}
.car-dis{
    font-style: normal;
    font-weight: 600;
    font-size: min(max(8px, 4vw), 16px);
    line-height: 37px;
    text-align: center;
    letter-spacing: -0.28px;
    color: #FFFFFF;
}
.car-head{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #FFFFFF;
}
.car-sub{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.28px;
    color: #FFFFFF;
}
.head-6{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.28px;
    color: #573F7B;
    margin-bottom: 5%;
}
.car-img{
    position: absolute;
    left: 12%;
}
#spon-con{
    margin-bottom: 20px;
}
.carousel-indicators{
    top: 110%;
    margin-left: 10%;
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border: none;
    background: #9272C2;
    border-radius: 100px;
}
.carousel-indicators .active{
    box-shadow: 0 0 3pt 0pt #573F7B;
}

@media (min-width: 768px) and (max-width: 1024px) {
.txt-box{
       position: relative;
       top: 0;
       left: 0;
       margin-top: -60%;
       margin-bottom: 60%;
}
.head-txt{
    font-size: 24px;
    line-height: inherit;
}
.head-sub{
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 20px;
}
.join-now{
    width: 200px;
}
.head-txt-2{
    font-size: 35px;
    line-height: inherit;
}
.about-cover{
    padding: 30px;
}
.about-title{
    font-size: 20px;
    text-align: center;
    line-height: inherit;
    margin-left: 0px;
    line-break: normal;
    margin-top: 20px;
}
.about-big{
    font-size: 80px;
    
}
.move{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}
.move-2{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}
.car-img{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.txt-box-6{
    margin: auto;
}
#cur-cur{
    position: relative;
    top: 0;
    left: 0;
    margin-top: -85%;
}
.view-more{
    padding: 10px;
}
.head-6{
    margin-bottom: 10%;
}
.carousel-indicators{
    top: 105%;
}
.faq{
    margin-top: 15%;
}
.faq-head{
    font-size: 18px;
    line-height: inherit;
}
.faq-sub{
    line-height: inherit;
}
}

@media (min-width: 501px) and (max-width: 767px) {
    .hero > img{
        display: none;
    }
    .txt-box{
        margin-top: 10px;
            position: relative;
            top: 0;
            left: 0;
     }
     .mobile-img{
         display: block;
         width: 100%;
         margin-top: 20%;
         margin-bottom: 20%;
     }
     .head-txt{
         font-size: 26px;
         text-align: center;
         line-height: inherit;
         margin-bottom: 20px;
     }
     .head-sub{
         font-size: 20px;
         text-align: center;
         line-height: inherit;
         margin-bottom: 20px;
     }
     .join-now{
         width: 120px;
         font-size: 15px;
         padding: 2px;
         height: 40px;
         display: block;
         margin-left: auto;
         margin-right: auto;
     }
     .head-txt-2{
         font-size: 30px;
         text-align: center;
         line-height: inherit;
     }
     .about-cover{
         padding: 30px;
         margin-bottom: 40px;
     }
     .about-title{
         font-size: 20px;
         text-align: center;
         line-height: inherit;
         margin-left: 0px;
         line-break: normal;
         margin-top: 20px;
     }
     #cover{
         margin-top: 10%;
     }
     .about-big{
         font-size: 80px;
     }
     .head-2{
         font-size: 30px;
         line-height: inherit;
     }
     .txt-box-3{
         margin-bottom: 40px;
     }
     .curry > img{
         display: none;
     }
     .head-4{
         font-size: 30px;
         text-align: center;
         margin-bottom: 10%;
     }
     #cur-cur{
         margin-top: 0px;
     }
    .txt-box-4{
        margin-bottom: 40px;
    }
    #cur-top{
        margin-top: 0px;
    }
    .head-5{
        font-size: 30px;
        margin-bottom: 10%;
    }
    .men-dis{
        line-height: inherit;
        font-size: 15px;
    }
     .view-more{
         padding: 10px;
     }
     .txt-box-6{
         padding: 30px;
         max-width: 350px;
     }
     .car-dis{
        line-height: 24px;
        font-size: 12px;
     }
     .car-head{
        line-height: inherit;
    }
     .head-6{
         margin-bottom: 10%;
         font-size: 30px;
         line-height: inherit;
         text-align: center;
     }
     .head-7{
         font-size: 30px;
         line-height: inherit;
        }
     .carousel-indicators{
         top: 105%;
     }
     .txt-box-7{
         margin-bottom: 40px;
     }
     .head-8{
         line-height: inherit;
         font-size: 35px;
     }
     .sponsors{
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
     .sponsors1{
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
     .sponsors2{
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
     .faq{
         margin-top: 30%;
     }
     .slider{
        margin-top: 30%;
    }
    .benefit{
        margin-top: 30%;
    }
    .starting-hero{
        margin-top: 10%;
    }
    .car-img{
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .txt-box-6{
        margin: auto;
    }
    .move{
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
    }
    .move-2{
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
    }
}

@media (min-width: 320px) and (max-width: 500px) {
.hero > img{
    display: none;
}
.txt-box{
    margin-top: 10px;
        position: relative;
        top: 0;
        left: 0;
 }
 .mobile-img{
     display: block;
     width: 100%;
     margin-top: 20%;
     margin-bottom: 20%;
 }
 .head-txt{
     font-size: 26px;
     text-align: center;
     line-height: inherit;
     margin-bottom: 20px;
 }
 .head-sub{
     font-size: 20px;
     text-align: center;
     line-height: inherit;
     margin-bottom: 20px;
 }
 .join-now{
     width: 120px;
     font-size: 15px;
     padding: 2px;
     height: 40px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 .head-txt-2{
     font-size: 30px;
     text-align: center;
     line-height: inherit;
 }
 .about-cover{
     padding: 30px;
     margin-bottom: 40px;
 }
 .about-title{
     font-size: 20px;
     text-align: center;
     line-height: inherit;
     margin-left: 0px;
     line-break: normal;
     margin-top: 20px;
 }
 #cover{
     margin-top: 10%;
 }
 .about-big{
     font-size: 80px;
 }
 .head-2{
     font-size: 30px;
     line-height: inherit;
 }
 .txt-box-3{
     margin-bottom: 40px;
 }
 .curry > img{
     display: none;
 }
 .head-4{
     font-size: 30px;
     text-align: center;
     margin-bottom: 10%;
 }
 #cur-cur{
    margin-top: 0px;
 }
.txt-box-4{
    margin-bottom: 40px;
}
#cur-top{
    margin-top: 0px;
}
.head-5{
    font-size: 30px;
    margin-bottom: 10%;
}
 .view-more{
     padding: 10px;
 }
 .txt-box-6{
    padding: 30px;
    margin: auto;
    max-width: 300px;
 }
 .car-dis{
     line-height: inherit;
 }
 .car-head{
    line-height: inherit;
}
 .head-6{
     margin-bottom: 10%;
     font-size: 30px;
     line-height: inherit;
     text-align: center;
 }
 .head-7{
     font-size: 30px;
     line-height: inherit;
    }
 .carousel-indicators{
     top: 105%;
 }
 .txt-box-7{
     margin-bottom: 40px;
 }
 .head-8{
     line-height: inherit;
     font-size: 35px;
 }
 .sponsors{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .sponsors1{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .sponsors2{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .faq{
     margin-top: 30%;
 }
 .slider{
    margin-top: 30%;
}
.benefit{
    margin-top: 30%;
}
.starting-hero{
    margin-top: 10%;
}
.bas{
    width: 210px;
    font-size: 18px;
}
.move-2{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}
.move{
   position: relative;
   top: 0;
   left: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 5%;
  margin-top: 0px;
}
.car-img{
   position: relative;
   top: 0;
   left: 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
.carousel-control-prev, .carousel-control-next {
   display: none;
}
}