body {
  background-color: #fff;
  background-image: url(../../img/signup-bg.svg);
  background-position: top 0px;
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
  /* background-image: url(/public/img/Rectangle\ 572.png),
  url(/public/img/Ellipse\ 29.png); */
}

div.intro {
  height: max-content;
  margin: 4rem auto;
  width: 100%;
}

div.intro img {
  /* height: 10rem; */
  /* width: auto; */
  object-fit: contain;
}

h1 {
  font-size: 2.25rem;
  color: #573f7b;
}

.container > form p {
  color: #573f7b;
  font-size: 1.75rem;
  font-weight: 600;
  width: 100%;
}

.container > form > div {
  width: 100%;
  margin: 0;
}

.container > form label {
  color: #4b4770;
}

.container > form {
  min-width: 18rem;
  max-width: 50rem;
  margin-bottom: 2rem;
}

.container > form input.form-control,
.container > form select.form-control {
  /* margin-bottom: 1rem; */
  height: 3rem !important;
  /* max-width: 392px !important; */
  border: 1px solid #bfbaba;
  border-radius: 5px !important;
}

.container > form select.form-control {
  -moz-appearance: 'window';
  -webkit-appearance: none;
  background-position: right 0.5em bottom 50%;
  background-repeat: no-repeat;
  background-image: url('../../img/icons/select-arrow.svg');
  padding-right: 30px;
}

.container > form textarea.form-control {
  border: 1px solid #bfbaba;
  border-radius: 5px !important;
}

.container > form button.submit-btn {
  width: 238px !important;
  height: 3rem;
  margin-top: 30px;
  background-color: #573f7b;
  color: #fff;
  border: 1.5px solid #9272c2;
  border-radius: 5px;
}

.container > form button.submit-btn:hover,
.container > form button.submit-btn:active,
.container > form button.submit-btn:focus {
  color: #fff;
  background-color: #9272c2 !important;
  border: 1.5px solid #9272c2;
}

/* validation styling */
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #28a745 !important;
}
