@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@300;400;500;600;700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

a {
	list-style: none;
	text-decoration: none;
	outline: none;
}

svg {
	cursor: pointer;
}

.dashB-wrapper {
	display: grid;
	grid-template-columns: 51.181% 28.472%;
	grid-template-rows: minmax(1074px, 100vh);
	margin: 0;
	padding: 0;
	width: 100%;
}

.mentors_dashboard-main {
	width: 100%;
	padding: 55px 27.5px;
}

.mentors_dashboard-main > div {
	margin-bottom: 2em;
}

.row1{
	display: flex;
	width: 89.15%;
	height: 65px;
}

.row1 > p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	/*line-height: 64px;*/
	/*align-self: center;*/
	color: #9272C2;
}

.notif-svg {
	margin-left: auto;
	justify-content: flex-end;
}

.row2{
	display: flex;
	align-items: center;
	align-content: center;
	width: 85.1%;
	height: 56px;
}

.search-input {
	position: relative;
	max-width: 336px;
	height: 100%;
}

.input {
	width: 336px;
	border-radius: 5px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(178, 178, 178, 0.58);
}

.search-icon{
	position: absolute;
	right: 3%;
	top: 20%;
}

.filter-wrap {
	display: flex;
	/*justify-content: space-between;*/
	width: 115px;
	height: 28px;
}

.filter-wrap>p, .export-wrap>p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	/*font-size: 16px;
	line-height: 25px;*/
	color: #7E5AE3;
	margin: 0 5px;
}

.filter-wrap, .export-wrap {
	margin-left: 40px;
}

/* Dropdown content (hidden by default) */
/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9272C2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}*/

/* Links inside the dropdown */
/*.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}*/

/* Add a grey background color to dropdown links on hover */
/*.dropdown-content a:hover {
  background-color: #ddd;
}

 Show the dropdown menu on hover 
.drop_down-btn:hover .dropdown-content {
  display: block;
}*/

.export-wrap {
	display: flex;
	/*justify-content: space-between;*/
	width: 96px;
	height: 28px;
}


.row3 {
	display: flex;
	justify-content: space-between;
	max-width: 73.25%;
	max-height: 56px;
}

.m-btn {
	width: 176px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #9272C2;
	background-color: #FFFFFF;
	padding: 13px 5px 18px 5px;
	background: #FFFFFF;
	border: 0.5px solid #B5B5B5;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	margin-right:  14px;
	transition: background-color .7s;
}

.m-btn:hover, .btn-active{
	background-color: #9272C2;
	color: #FFFFFF;
}

.row4{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin: 0 auto;
	width: 100%;
}

.dashBox {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 20px;	
	background: #FFFFFF;
	box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
	margin-bottom: 20px;
}

.mentor-name {
	width: 143px;
	height: 43px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	/*line-height: 60px;
	letter-spacing: -0.28px;*/
	color: #573F7B;
	margin-right: 25px;
}

.mentor-name a {
	text-decoration: none;
	list-style: none;
	outline: none;
	color: inherit;
}

.mentor-name:hover {
	background-color: #ddd;
}

.mentor-email {
	width: 258px;
	height: 27px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	/*font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.28px;*/
	color: #573F7B;
	margin: 31px 10px 31px 0;
}

.status1 {
	width: 74px;
	height: 25px;
}

.status1 a {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/*line-height: 25px;*/
	color: #7E5AE3;
}

.status2 {
	width: 65px;
	height: 25px;
	margin: 32px 0 32px 13px;
}

.status2 a {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	/*line-height: 25px;*/
	color: #F8444F;
}

/* Pagination links */
.pagination {
	align-self: flex-end;
}

.pagination .btn, .pagination .dir  {
  color: #573F7B;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #573F7B;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}



/*-----------------------------*/
.mentors_dashboard-aside {
	width: 100%;
	padding: 55px 27.5px;

	border-left: 1px solid #6C63FF;
}

.aside-title{
	font-family:'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	/*line-height: 64px;*/
	color: #9272C2;
	margin-bottom: 10px;
}

.det-wrap {
	display: flex;
	flex-direction: column;
}

.det-wrap > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 10px 0;
}

.mentor-det{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #573F7B;
}

.mentor-det > p{
	font-size: 16px;
	/*line-height: 24px;*/
	letter-spacing: -0.28px;
}

.det-value {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	color: #573F7B;
}

.det-value > p {
	font-size: 16px;
	/*line-height: 24px;*/
	letter-spacing: -0.28px;
}

@media (max-width: 1100px){
/*	.mentors_dashboard-aside {
		display: none;
	}
*/ 

	.mentors_dashboard-aside {
		border-left: none;
		border-top: 1px solid #6C63FF;
}
   .dashB-wrapper {
		display: block;
  }

   .dashBox {
   	justify-content: space-between;
   }
}

@media (max-width: 600px) {

	.row1 {
		width: 100%;
	}
	.row2 {
		flex-wrap: wrap;
		width: 100%;	
	}

	.row3 {
		margin-top: 4em;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 1em;
	}

	 .row4 {
	 	margin-top: 6em;
	 	display: block;
	 }

	.filter-wrap, .export-wrap {
		margin-left: 20px;
	}

	.dashBox {
		flex-direction: column;
		/*justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
		flex: 0 0 100% !important;*/		
		padding: 15px;
		margin-bottom: 40px;
		margin-left: minmax(2rem, 8rem);
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0 0 30px rgba(181, 181, 181, 0.5);
		transition: 0.89s ease;
	}

}

@media (max-width: 414px){
	.row3 {
		display: none;
	}
	
	/*.m-btn {
		margin-bottom: 1em;
	}*/

	.row4 {
	 	margin-top: 4em;
	 }
	
	.input {
		width: 100%;
	}

	.mentors_dashboard-aside {
		display: none;
	}

	.mentor-email>p {
		font-size: 14px;
		text-align: center;
	}

	.filter-wrap {
		margin-left: 0;
	}
}
