.buttons button {
  background-color: #fff;
  color: #573f7b;
  border: none;
  outline: none;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  border-radius: 5px;
}

.buttons .clear-all {
  border: 1px solid#9272c2;
  color: #9272c2;
  margin-right: 1rem;
}

.buttons .clear-selected {
  background-color: #9272c2;
  color: #ffffff;
  margin-left: 1rem;
}

.buttons button:hover {
  background-color: #beaee9;
  color: #ffffff;
}

.buttons button:active {
  background-color: #573f7b;
  color: #ffffff;
}

.detailed-notification {
  background-color: #ffffff;
  color: #573f7b;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-height: 100%;
  width: 30%;
  max-width: 410.5px;
  border-left: 1px solid #6c63ff;
  padding: 30.5px;
}

.notifications-list {
  margin-top: 3rem;
  margin-left: 27px;
  margin-right: min(30%, 410.5px);
  padding-bottom: 3rem;
  max-width: 634px;
}

.notifications-list .notification:not(:last-of-type) {
  margin-bottom: 30px;
}

.notification h4,
.detailed-notification h4 {
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: -0.28px;
  color: #573f7b;
  margin-bottom: 0;
}

.notification span.time {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #7e5ae3;
  margin-top: 15px;
  display: block;
}

.notification {
  padding-left: 30px;
  /* position: relative; */
  max-width: 634px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification.unread {
  background-image: url('/img/icons/unread-notification-circle.svg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: left 0 top 8px;
}

/* custom checkbox styling gotten from w3schools.com */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #9272c2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* detailed notification view, right bar */
.detailed-notification header {
  /* color: #7e5ae3; */
  margin-bottom: 30px;
}

.detailed-notification p {
  max-width: 100%;
}

@media (max-width: 991px) {
  .notifications-list {
    margin-left: 0;
    max-width: 70vw;
    margin-right: 30vw;
  }

  .detailed-notification {
    width: 30vw;
  }
}

@media (max-width: 767px) {
  .buttons button {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .buttons .clear-all {
    border: 1px solid#9272c2;
    color: #9272c2;
    margin-right: 0.5rem;
  }

  .buttons .clear-selected {
    background-color: #9272c2;
    color: #ffffff;
    margin-left: 0.5rem;
  }

  .notifications-list {
    margin-left: 0;
    max-width: 60vw;
    margin-right: 40vw;
  }

  .detailed-notification {
    width: 40vw;
  }

  .notifications-list .notification:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .notification h4,
  .detailed-notification h4 {
    font-size: 18px;
    line-height: 20px;
  }

  .notification span.time {
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
  }

  .notification {
    max-width: 100%;
  }

  .detailed-notification p {
    font-size: 14px;
  }
}
