.sidebar-container,
.main {
  position: relative;
  min-height: max-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  width: var(--sidebar-width);
  max-width: 75%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 2rem;
  background-color: #9272c2;
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
}

.sidebar.hide {
  transform: translateX(-100%);
  /* transform: translateX(0); */
}

#sidebarToggler {
  fill: #9272c2;
  position: absolute;
  left: 0;
  top: 1.25rem;
  padding: 6px 0;
}

/* #sidebarToggler svg { */
/* fill: white; */
/* fill: #9272c2; */
/* z-index: 6 !important; */
/* } */

.sidebar div.logo-section {
  margin-top: 1rem;
  height: 3rem;
  margin-bottom: 2.75rem;
}

.sidebar div.logo-section p {
  line-height: 1.125rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.sidebar > ul {
  width: 100%;
}

.sidebar > ul > li {
  display: block;
  list-style-type: none;
  margin: auto;
  font-size: 1.125rem;
  padding: 1rem 0;
  height: max-content;
  font-weight: 600;
}

.sidebar > ul li * {
  color: #ffffff50;
}

.sidebar > ul > li {
  position: relative;
  width: 100%;
}

.sidebar > ul > li.show::after,
.sidebar > ul > li:hover::after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 3rem;
  top: 2px;
  right: -2rem;
  border-radius: 20px;
  background-color: #eec5cd;
}

.sidebar > ul li.active *,
.sidebar > ul li:hover > a {
  color: #fff;
  /* fill: white; */
}

.sidebar > ul > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding-left: 2.5rem;
  transition: transform 0.3s ease-in-out;
}

.sidebar > ul > li:hover a {
  transform: scale(1.01);
}

.sidebar ul li a svg:first-of-type {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar ul li a svg:not(:first-of-type) {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sidebar li ul.sub-list {
  display: none;
  margin-top: 0.5rem;
  padding-left: 2.5rem;
  list-style-type: none;
}

.sidebar li.show svg:last-of-type:not(:first-of-type),
.sidebar li:hover svg:last-of-type:not(:first-of-type) {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.sidebar li.show ul.sub-list,
.sidebar li:hover ul.sub-list {
  display: block;
  background-color: #ede8f310;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.sidebar > ul > li.show > a {
  color: white;
}

.sidebar ul.sub-list li.sub-list-item {
  padding: 0.25rem;
  font-weight: 400;
  font-size: 1rem;
  margin: 0.625rem auto;
}

.sidebar ul.sub-list li.sub-list-item:hover,
.sidebar ul.sub-list li.sub-list-item.active {
  color: #fff;
  list-style-type: disc;
}

.sidebar ul.sub-list li.sub-list-item a {
  display: block;
  text-decoration: none;
  width: 100%;
}

.sidebar ul.sub-list li.sub-list-item a:hover {
  transform: scale(1.01);
}

div.body {
  height: max-content;
  position: relative;
  width: 100%;
}

/*container margins */
.container-fluid {
  padding: 0 30px;
}

@media (min-width: 992px) {
  .sidebar.hide,
  .sidebar {
    transform: translateX(0);
    left: -18rem;
  }

  .main {
    transform: translateX(var(--sidebar-width));
    width: calc(100% - var(--sidebar-width));
  }

  .container-fluid {
    padding: 0 50px 0 30px;
  }
}
