<!-- <%- include('../includes/head') %> -->
<%- include('../includes/admin-header') %>
<%- include('../includes/sidenav') %>
<link rel="stylesheet" href="/styles/custom-css/admins.css">
<div class="container-fluid pb-5">
  <a href="/admin/create/" class="link"><svg width="16" height="16" viewBox="0 0 16 16" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M8 1V15M1 8H15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    New Admin</a>

  <table class="mt-5" id="adminTable">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>7</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
      <tr>
        <td>8</td>
        <td>David <strong class="lastName">Jefferson</strong></td>
        <td>david@jefferson.com</td>
        <td>Admin</td>
        <td>
          <a href="#" class="viewDetails">View</a>
          <a href="#" class="updateDetails">Update</a>
          <a href="#" class="deleteAdmin">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
<script src="js/custom-js/admins.js"></script>
<%- include('../includes/footer') %>