<%- include('../includes/sidenav')-%>
    <link rel="stylesheet" href="/public/styles/custom-css/dashboard-profile.css">

    <div class="profile">
        <img class="profile-pic" src="/public/img/Ellipse 36.png" alt="">
        <p class="name-bio">David Jefferson</p>
        <p class="stack-bio">Stack: <span>UI/UX Design</span></p>
    </div>
    <div class="accept-decline-buttons">
        <button class="approve">Approve <img src="/public/img/icons/user-check.svg" alt=""></button>
        <button class="decline">Decline <img src="/public/img/icons/user-x.svg" alt=""></button>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="con-head">Personal Details</p>
                    <div class="pd-con">
                        <div class="pd-dis-con">
                            <p class="pd-title fl">First Name</p>
                            <p class="pd-subs fr">David</p>
                        </div>
                        <div class="pd-dis-con">
                            <p class="pd-title fl">Last Name</p>
                            <p class="pd-subs fr">Jefferson</p>
                        </div>
                        <div class="pd-dis-con">
                            <p class="pd-title fl">Date of Birth</p>
                            <p class="pd-subs fr">02/05/1989</p>
                        </div>
                        <div class="pd-dis-con">
                            <p class="pd-title fl">Gender</p>
                            <p class="pd-subs fr">Male</p>
                        </div>
                        <div class="pd-dis-con">
                            <p class="pd-title fl">Phone Number</p>
                            <p class="pd-subs fr">+234 818 309 8992</p>
                        </div>
                        <div class="pd-dis-con">
                            <p class="pd-title fl">Email Address</p>
                            <p class="pd-subs fr">feranmiolowo15@gmail.com</p>
                        </div>
                        <div class="pd-dis-con">
                            <p class="pd-title fl">Nationality</p>
                            <p class="pd-subs fr">Nigerian</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm topper">
                    <p class="con-head">Professional Skills</p>
                    <div class="ps-con">
                        <div>
                            <p class="ps-title">Software Tools</p>
                            <p class="ps-subs">Figma</p>
                            <p class="ps-subs">Adobe XD</p>
                            <p class="ps-subs">Adobe illustrator</p>
                        </div>
                        <div class="top">
                            <p class="ps-title">Certifications</p>
                            <p class="ps-subs">LinkedIn course on Layout Patterns</p>
                            <p class="ps-subs">Figma Africa Certified Designer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="con-head">Experience</p>
                <div class="xp-con">
                    <div>
                        <p class="xp-title">Google</p>
                        <div class="pd-dis-con">
                            <p class="xp-head fl">Product Designer</p>
                            <p class="xp-sub fr">03/08/2020 - 03/12/2020</p>
                        </div>
                        <div class="pd-dis-con">
                        <p class="xp-desciption">Executed user survey in design of a automobile <br> comapny website</p>
                        <p class="xp-desciption">Executed user survey in design of a automobile <br> comapny website</p>
                    </div>
                    </div>
                    <div class="top">
                        <p class="xp-title">Google</p>
                        <div class="pd-dis-con">
                            <p class="xp-head fl">Product Designer</p>
                            <p class="xp-sub fr">03/08/2020 - 03/12/2020</p>
                        </div>
                        <div class="pd-dis-con">
                        <p class="xp-desciption">Executed user survey in design of a automobile <br> comapny website</p>
                        <p class="xp-desciption">Executed user survey in design of a automobile <br> comapny website</p>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-sm topper">
                    <p class="con-head"s>Educational Background</p>
                <div class="ebb-con">
                    <div class="eb-con">
                        <p class="eb-title">University of Lagos</p>
                        <p class="eb-stud">B.Sc. Computer Science</p>
                        <p class="eb-sub">03/08/2020 - Present</p>
                    </div>
                    <div class="eb-con top">
                        <p class="eb-title">University of Lagos</p>
                        <p class="eb-stud">B.Sc. Computer Science</p>
                        <p class="eb-sub">03/08/2020 - Present</p>
                    </div>
                    <div class="eb-con top">
                        <p class="eb-title">University of Lagos</p>
                        <p class="eb-stud">B.Sc. Computer Science</p>
                        <p class="eb-sub">03/08/2020 - Present</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include('../includes/footer')-%>