<%- include('../includes/external-header')-%>
<link rel="stylesheet" href="../styles/custom-css/hngi7.css">
<link rel="stylesheet" href="../styles/custom-css/faqs.css">
</head>


<div class="container">
    <header class="text-center">
        <h1>Frequently Asked Questions</h1>
    </header>

    <main>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            Is there some form of entrance exam?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eligendi voluptates voluptate iste quam quasi minima repudiandae dolore, eaque officiis ipsa cumque necessitatibus cum debitis. Quidem magni facilis nobis soluta.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            Is the internship Internationally recognized?
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus, expedita temporibus deserunt amet aliquam inventore incidunt odit rerum? Exercitationem expedita unde, eum rem quam veritatis ipsum nihil nesciunt! Adipisci, quos.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            What tracks/stacks does the internship offer?
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione id voluptatem quisquam at eveniet minima nisi maxime, neque vero, officia sunt distinctio ea laborum officiis iusto earum fuga aliquam magni?
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            What exactly is the internship about and how long does it last?
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur dolor quam aliquid expedita dolorem rem, quia ipsam harum tempore illum architecto doloribus voluptatum, asperiores possimus nam iste ducimus facere beatae.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            Do I get a job after the internship?
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores a odio debitis doloremque, minima ut dolore. Est alias perspiciatis officia accusamus ipsa saepe laboriosam, quisquam unde. Eius beatae consequatur molestiae!
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseSix">
                            Is this internship for beginners
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum sit doloribus labore explicabo minus dolorem, maxime aperiam. Cumque repudiandae voluptate, eius, fugiat molestiae quas totam placeat quos dolore perspiciatis facilis?
                    </div>
                </div>
            </div>
            
        </div>

        <img src="../img/hngi7-photo.svg" alt="design of photos from hngi7">
    </main>
</div>
<%- include('../includes/footer')-%>