<%- include('../includes/external-header')-%>
<link rel="stylesheet" href="../styles/custom-css/hngi7.css">
</head>

<div class="container">
  <header>
    <h1>Brief Summary of Zuri 7.0</h1>
    <p>An Awesome Experience</p>
  </header>

  <main>
    <p>The just concluded Zuri Internship 7.0 which started june 1st, lasted for 3 months ended with so much memories.
      The purpose of this internship is to develop professional skills in a hands-on environment, not only do interns
      gain practical skills working on real life projects but also had the opportunity to network and make connections
      that will last a lifetime. Zuri Internship has been structured in a way to make intern feel right at home,
      engaging the intern with tasks, games, peep talk etc.
    </p>

    <p>
      Also during the course of the internship, interns who showed exceptional excellence in their work (coding skills,
      communication, leadership , design, etc), got job intervews along the way from our Sponsors and partners
      (Kuda, Interswitch, Piggvest, etc...).
    </p>

    <img src="../img/hngi7-photo.svg" alt="design of photos from hngi7">
  </main>
</div>
<%- include('../includes/footer')-%>
