<%- include('../includes/external-header')-%>
<link rel="stylesheet" href="../styles/custom-css/hngi7.css">

<div class="container">
  <section id="sectionOne">
    <header>
      <h1>Brief Summary of Zuri 7.0</h1>
      <p class="mx-auto text-center mb-0">An Awesome Experience</p>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <p>The recently concluded Zuri (formerly HNG) Internship 7.0 started on June 1, 2020, and lasted for 3 months
          ended with many memories made. <br>
          The purpose of this internship is to develop professional skills in a hands-on environment. Zuri interns gain
          practical skills working on real life projects and get the opportunity to network and make connections
          that will last a lifetime.
          <br>
          Zuri Internship has been structured to make interns feel right at home, while engaging
          them with tasks, games, pep talks with industry professionals etc.
          <br>
          Also during the course of the internship, interns who were exceptional in their work (coding skills,
          communication, leadership , design, etc), got interviews from our sponsors and partners.
        </p>
      </div>

      <div class="col-lg-6 d-none d-lg-block">
        <img src="../img/hngi7-photo.svg" alt="design of photos from hngi7">
      </div>
    </div>
  </section>

  <section id="sectionTwo">
    <header>
      <h2>How It All Happened</h2>
    </header>
    <div class="row">
      <div class="col-lg-6">
        <img src="../img/hngi7-second.jpg" alt="photos of previous interns">
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <p>The Zuri Lagos meetup took place on the 27th January 2020. Graduate interns in Lagos came to join us. It was
          a wonderful meeting.</p>
        <a href="#" class="link">View More Photos</a>
      </div>
    </div>
  </section>

  <section id="sectionThree">
    <header>
      <h2>Participation</h2>
    </header>
    <p class="text-center">Over 11,000 people participated in the Zuri Internship 7.0 from all 7
      continents in the world. Communication was done through channels like Slack, Github and Lucid.</p>
    <div class="row d-flex align-items-start justify-content-center">
      <p class="detail"><span>11K</span>Interns</p>
      <p class="detail"><span>52</span>Countries</p>
      <p class="detail"><span>83</span>Mentors</p>
    </div>
  </section>

  <section id="sectionFour" class="d-flex flex-column align-items-center">
    <header>
      <h2>Zuri Internship Sponsors</h2>
    </header>
    <div class="row justify-content-center">
      <div class="sponsors-logo col-sm-6 col-md-3 d-flex justify-content-center"><img src="../img/logos/hotelsng.png"
          alt="hotels ng logo"></div>
      <div class="sponsors-logo col-sm-6 col-md-3 d-flex justify-content-center"><img src="../img/logos/kuda.png"
          alt="kuda bank logo"></div>
      <div class="sponsors-logo col-sm-6 col-md-3 d-flex justify-content-center"><img src="../img/logos/verifi.png"
          alt="verifi logo"></div>
      <div class="sponsors-logo col-sm-6 col-md-3 d-flex justify-content-center"><img src="../img/logos/piggyvest.png"
          alt="piggyvest logo"></div>
      <div class="sponsors-logo col-sm-6 col-md-3 d-flex justify-content-center"><img src="../img/logos/google.png"
          alt="google logo"></div>
      <div class="sponsors-logo col-sm-6 col-md-3 d-flex justify-content-center"><img src="../img/logos/flutterwave.png"
          alt="flutterwave logo"></div>
    </div>

    <a href="#" id="becomeASponsor" class="link">Become A Sponsor</a>
  </section>
</div>
<%- include('../includes/footer')-%>