<%- include('../includes/external-header')-%>
<link rel="stylesheet" href="../styles/custom-css/hngi7.css">
</head>

<div class="container">
  <header>
    <h1>Brief Summary of Zuri 7.0</h1>
    <p>An Awesome Experience</p>
  </header>

  <main>
    <p>The recently concluded Zuri (formerly HNG) Internship 7.0 started on June 1, 2020, and lasted for 3 months ended with many
      memories
      made.</p>
    <p>
      The purpose of this internship is to develop professional skills in a hands-on environment. Zuri interns gain
      practical skills working on real life projects and get the opportunity to network and make connections
      that will last a lifetime.
    </p>
    <p>
      Zuri Internship has been structured to make interns feel right at home, while engaging
      them with tasks, games, pep talks with industry professionals etc.
    </p>

    <p>
      Also during the course of the internship, interns who were exceptional in their work (coding skills,
      communication, leadership , design, etc), got interviews from our sponsors and partners.
    </p>

    <img src="../img/hngi7-photo.svg" alt="design of photos from hngi7">
  </main>
</div>
<%- include('../includes/footer')-%>