<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../head/index') %>
  <%- include('../includes/external-header')-%>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/bootstrap-css/bootstrap.css">
    <link rel="stylesheet" href="/styles/custom-css/homePage.css">
    
</head>



<body>
  
  <section class="starting-hero">
    <div class="hero">
        <img src="/img/Group 1201.png" alt="">
        <div class="container">
        <div class="txt-box">
            <p class="head-txt">Welcome to the Internship of great <br> opportunities and learning</p>
            <p class="head-sub">An internship program with the aim of growing the best <br> talents in the world of Tech all around the world.</p>
            <a href=""><div class="join-now">Join now</div></a>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000">
        <img class="mobile-img" src="/img/undraw_designer_life_w96d 1.png" alt="">
        </div>
    </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="container">
                <p class="head-txt-2">About Zuri <br> Internship</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="txt-box-2" data-aos="fade-up">
                    <p class="description">Zuri internship is an engineering-as-a-service business that helps companies build remote teams quickly and cost-effectively. We have 1,000+ software engineers working as full-time, embedded members of development teams at over 200 leading tech companies. </p>
                    <br>
                    <p class="description"> Zuri got its first set of interns in 2018 and is now a multi-national corporation, with over 35,000 employees in more than 115 countries. Today, Cisco solutions are the networking foundations for service providers, small to medium business and enterprise customers which includes corporations, government agencies, utilities and educational institutions.</p></div>
            </div>
        </div>
        <div class="row" id="cover">
            <div class="col-sm" data-aos="fade-up" data-aos-duration="1000">
                <div class="about-cover">
                    <p class="about-title">Number of <br> Interns so far</p>
                    <p class="about-big">50k</p>
                </div>
            </div>
            <div class="col-sm" data-aos="fade-up" data-aos-duration="1000">
                <div class="about-cover">
                    <p class="about-title">Number of <br> countries</p>
                    <p class="about-big">115+</p>
                </div>
            </div>
            <div class="col-sm" data-aos="fade-up" data-aos-duration="1000">
                <div class="about-cover">
                    <p class="about-title">Number of <br> Mentors</p>
                    <p class="about-big">150</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="benefit">
    <div class="container">
        <p class="head-2">Benefits of Zuri Internship</p>
        <div class="row" id="bene">
            <div class="col-sm">
                <div class="txt-box-3" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/img/Group 1202.png" alt="">
                    <p class="benefit-title">Learning</p>
                    <p class="benefit-sub">Get mentored by experts in the fields <br> of Product design, Frontend and <br> backend development, DevOps and <br> Mobile. </p>
                </div>
            </div>
            <div class="col-sm">
                <div class="txt-box-3" data-aos="fade-up" data-aos-duration="1000">
                    <img src="/img/Group 1203.png" alt="">
                    <p class="benefit-title">Connections</p>
                    <p class="benefit-sub">Get mentored by experts in the fields <br> of Product design, Frontend and <br> backend development, DevOps and <br> Mobile. </p>
                </div>
            </div>
            <div class="col-sm" data-aos="fade-up" data-aos-duration="1000">
                <div class="txt-box-3">
                    <img src="/img/Group 1204.png" alt="">
                    <p class="benefit-title">Jobs</p>
                    <p class="benefit-sub">Get mentored by experts in the fields <br> of Product design, Frontend and <br> backend development, DevOps and <br> Mobile. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="curriculum">
    <div class="curry">
        <img src="/img/Frame 8.png" alt="">
        <div class="container" id="cur-cur">
            <p class="head-4">Curriculum</p>
            <div class="row">
                <div class="col-sm" data-aos="zoom-in" data-aos-duration="1000">
                    <div class="txt-box-4">
                        <img src="/img/web-programming 1.svg" alt="">
                        <p class="cur-head">Front End</p>
                        <p class="cur-sub">Put your knowledge of HTML, CSS, <br> and JavaScript into practice and <br> sharpen it further as you turn <br> exciting UI Designs into stunning <br> web pages.</p>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <img class="dd-button" src="/img/Group 13.svg" alt="">
                        </a>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body">
                                <p>HTML</p>
                                <p>CSS</p>
                                <p>JavaScript</p>
                                <p>Laravel</p>
                                <p>Vue.js</p>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="txt-box-4" data-aos="zoom-in" data-aos-duration="1000">
                        <img src="/img/Group 1095.svg" alt="">
                        <p class="cur-head">Back End</p>
                        <p class="cur-sub">Build scalable, logic-driven <br> applications with world-class <br> technologies and handle the <br> 'behind-the-scenes' functionality <br> of web applications. </p>
                        <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="dd-button" src="/img/Group 13.svg" alt="">
                        </a>
                        <div class="collapse" id="collapseExample1">
                            <div class="card card-body">
                                <p>PHP</p>
                                <p>Python</p>
                                <p>JavaScript</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row" id="cur-top">
                <div class="col-sm">
                    <div class="txt-box-4" data-aos="zoom-in" data-aos-duration="1000">
                        <img src="/img/Group 1100.svg" alt="">
                        <p class="cur-head">UI/UX Design</p>
                        <p class="cur-sub">Put your UI/UX Design skills to test <br> and sharpen it as you design <br> exciting User Interfaces for great <br> User Experience.</p>
                        <a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="dd-button" src="/img/Group 13.svg" alt="">
                        </a>
                        <div class="collapse" id="collapseExample2">
                            <div class="card card-body">
                                <p>Figma</p>
                                <p>Adobe XD</p>
                                <p>Prototyping</p>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="txt-box-4" data-aos="zoom-in" data-aos-duration="1000">
                        <img src="/img/Group 1101.svg" alt="">
                        <p class="cur-head">Mobile</p>
                        <p class="cur-sub">Develop world-class Mobile <br> applications and optimize <br> functionality and user experience <br> on mobile devices. </p>
                        <a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="dd-button" src="/img/Group 13.svg" alt="">
                        </a>
                        <div class="collapse" id="collapseExample3">
                            <div class="card card-body">
                                <p>Java</p>
                                <p>FLutter</p>
                                <p>Kotlin</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mentors">
    <p class="head-5">Mentors</p>
            <div class="container" id="con" data-aos="fade-up" data-aos-duration="1000">
                
                <div class="txt-box-5">
                    <p class="men-head">Kelvin Rush</p>
                    <p class="men-sub">Frontend Developer</p>
                    <p class="men-dis">It was a well-planned, coordinated event <br> where young talented folks from across <br> the globe participated remotely and were <br> involved in learning key </p>
                </div>
                <div class="txt-box-5">
                    <p class="men-head">Natalia Becham</p>
                    <p class="men-sub">UI/UX Designer</p>
                    <p class="men-dis">It was a well-planned, coordinated event <br> where young talented folks from across <br> the globe participated remotely and were <br> involved in learning key </p>
                 </div>
            </div>
            <a href=""><div class="view-more">View more</div></a>
</section>

<section class="slider">
    <div class="container">
        <p class="head-6">Past Interns <br> Testimonials</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="container" id="car-box">
                        <div class="txt-box-6">
                            <p class="car-dis">It was a well-planned, coordinated platform <br> where young talented folks from across the <br> globe participated remotely and were involved <br> in learning key skills needed to become the best <br> globally in Programming, Product Design, <br> Machine Learning, Digital Marketing and more.</p>
                            <p class="car-head">Gladys Gideon</p>
                            <p class="car-sub">UI/UX Designer</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <div class="container" id="car-box">
                        <div class="txt-box-6">
                            <p class="car-dis">It was a well-planned, coordinated platform <br> where young talented folks from across the <br> globe participated remotely and were involved <br> in learning key skills needed to become the best <br> globally in Programming, Product Design, <br> Machine Learning, Digital Marketing and more.</p>
                            <p class="car-head">Gladys Gideon</p>
                            <p class="car-sub">UI/UX Designer</p>
                        </div>
                    </div>
              </div>
              <div class="carousel-item">
                <div class="container" id="car-box">
                        <div class="txt-box-6">
                            <p class="car-dis">It was a well-planned, coordinated platform <br> where young talented folks from across the <br> globe participated remotely and were involved <br> in learning key skills needed to become the best <br> globally in Programming, Product Design, <br> Machine Learning, Digital Marketing and more.</p>
                            <p class="car-head">Gladys Gideon</p>
                            <p class="car-sub">UI/UX Designer</p>
                        </div>
                    </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <img src="/img/Vector (3).svg" alt="">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <img src="/img/Vector (4).svg" alt="">
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
</section>

<section class="faq">
    <p class="head-7">Frequently asked questions</p>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="txt-box-7" data-aos="fade-up" data-aos-duration="1000">
                    <p class="faq-head">About HNG</p>
                    <p class="faq-sub">Ask questions about anything you <br> want to know about <br> HNG and get all <br>  answers to  them. </p>
                    <a href=""><p class="faq-link">Read more     <img src="/img/Vector (2).svg" alt=""></p></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="txt-box-7" data-aos="fade-up" data-aos-duration="1000">
                    <p class="faq-head">About Internship</p>
                    <p class="faq-sub">Ask questions about anything you <br> want to know about becoming <br> an intern and get all <br> answers  to them. </p>
                    <a href=""><p class="faq-link">Read more     <img src="/img/Vector (2).svg" alt=""></p></a>
                </div>
            </div>
            <div class="col-sm">
                <div class="txt-box-7" data-aos="fade-up" data-aos-duration="1000">
                    <p class="faq-head">About Mentorship</p>
                    <p class="faq-sub">Ask questions about anything you <br> want to know about our mentors <br> and how you can become one and <br> get all answers to them. </p>
                    <a href=""><p class="faq-link">Read more     <img src="/img/Vector (2).svg" alt=""></p></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sponsor">
    <p class="head-8">Zuri Internship Sponsors</p>
    <div class="container" id="spon-con" data-aos="zoom-in" data-aos-duration="1000">
        <div class="row">
            <div class="col-sm" >
                <img class="sponsors" src="/img/Group 1083.png" alt="">
            </div>
            <div class="col-sm">
                <img class="sponsors" src="/img/Group 1203 (1).png" alt="">
            </div>
            <div class="col-sm" >
                <img class="sponsors" src="/img/Group 1205.png" alt="">
            </div>
            <div class="col-sm" >
                <img class="sponsors" src="/img/Group 1204 (1).png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <img class="sponsors1" class="sponsor-img" src="/img/Group 1206.png" alt="">
            </div>
            <div class="col-sm">
                <img class="sponsors2" class="sponsor-img2" src="/img/Group 1207.png" alt="">
            </div>
        </div>
    </div>
   <a href=""><div class="bas">Become a sponsor</div></a>
</section>
    
<script src="../js/bootstrap-js/jquery.js"></script>
<script src="../js/bootstrap-js/popper.js"></script>
<script src="../js/bootstrap-js/bootstrap.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</body>

</html>