<%- include('../includes/external-header')-%>
<link rel="stylesheet" href="../styles/custom-css/intern-signup.css">
<div class="container d-flex flex-column align-items-center">
  <div class="intro row">
    <div class="col px-2">
      <h1>Welcome to the internship.</h1>
      <a href="#" class="btn"></a>
    </div>
    <div class="col px-2 d-none d-md-block">
      <img src="../img/signup-logo.svg" alt="" class="img-fluid">
    </div>
  </div>

  <form action="/api/v1/apply" method="post" id="internSignupForm">
    <% if(messages.error){ %>
    <% messages.error.forEach(function(err){ %>
    <div class="alert alert-danger">
      <%- err %>
    </div>
    <%})%>
    <% } %>
    <% if(messages.success){ %>
    <div class="alert alert-success">
      <%- messages.success %>
    </div>
    <% } %>

    <p class="px-2">Apply here:</p>

    <!-- Name & Email -->
    <div class="row">
      <div class="col-md mb-3 p-0 px-2">
        <label for="firstName">First Name</label>
        <input name="firstName" type="text" class="form-control w-100" id="firstName" placeholder="e.g. John">
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md mb-3 p-0 px-2">
        <label for="lastName">Last Name</label>
        <input name="lastName" type="text" class="form-control w-100" id="lastName" placeholder="e.g. Doe">
        <div class="invalid-feedback"></div>
      </div>
    </div>

    <!-- email and phone number -->
    <div class="row">
      <div class="col-md mb-3 p-0 px-2">
        <label for="email">Email</label>
        <input type="email" class="form-control w-100" id="email" name="email" placeholder="e.g. johndoe@example.com">
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md mb-3 p-0 px-2">
        <label for="phoneNo">Phone Number</label>
        <input type="text" name="phoneNumber" class="form-control" id="phoneNo" maxlength="16"
          placeholder="e.g. +2348012345678">
        <div class="invalid-feedback"></div>
      </div>
    </div>

    <!-- Country and State -->
    <div class="row">
      <div class="col-md mb-3 p-0 px-2">
        <label for="country">Country
          <!-- of Residence --></label>
        <!-- <input name="country" type="text" class="form-control" id="country" placeholder="Enter Country"> -->
        <select name="country" class="form-control w-100" id="country">
          <option selected disabled value="">Select Country</option>
        </select>
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md mb-3 p-0 px-2">
        <label for="state">State
          <!-- of Residence --></label>
        <input name="state" type="text" class="form-control" id="state" placeholder="Enter State">
        <div class="invalid-feedback"></div>
      </div>
    </div>

    <!-- gender and date of birth -->
    <div class="row">
      <!-- gender -->
      <div class="col-md mb-3 p-0 px-2">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender">
          <option disabled selected value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div class="invalid-feedback"></div>
      </div>
      <!-- Date of Birth -->
      <div class="col-md mb-3 p-0 px-2">
        <label for="dob">Date of Birth</label>
        <input name="dob" type="date" class="form-control w-100" id="dob">
        <div class="invalid-feedback"></div>
      </div>
    </div>
    <!-- Track and Employment Status -->
    <div class="row">
      <div class="col-md mb-3 p-0 px-2">
        <label for="track">Track</label>
        <select name="track" class="form-control w-100" id="track">
          <option value="" selected disabled value="">Select Field</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
          <option value="mobile">Mobile Development</option>
          <option value="design">UI/UX Design</option>
        </select>
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md mb-3 p-0 px-2">
        <label for="employmentStatus">Employment Status</label>
        <select class="form-control" name="employmentStatus" id="employmentStatus">
          <option disabled selected value="">Select Option</option>
          <option value="employed">Employed</option>
          <option value="unemployed">Unemployed</option>
        </select>
        <div class="invalid-feedback"></div>
      </div>
    </div>

    <!-- Short Description -->
    <div class="row px-2">
      <label for="aboutYou">Tell us about yourself and why you want to work with us?</label>
      <textarea class="form-control" name="reason" id="aboutYou" rows="5" placeholder="Write here..."></textarea>
      <div class="invalid-feedback"></div>
    </div>

    <!-- terms checkbox -->
    <div class="row px-2 mt-3 d-flex align-items-center">
      <input type="checkbox" id="agreed" class="custom-checkbox mr-2 mb-2">
      <label for="agreed">
        I agree to the <a href="#">Terms & Conditions</a>
      </label>
      <div class="invalid-feedback"></div>
    </div>

    <div class="row">
      <button type="submit" class="submit-btn mx-auto">Submit</button>
    </div>
  </form>
</div>

</form>
<script src="../../js/custom-js/intern-signup.js"></script>
<%- include('../includes/footer') %>