<!-- <%- include('../includes/head') %> -->
<%- include('../includes/admin-header') %>
<%- include('../includes/sidenav') %>
<div class="container">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, hic ad animi porro officia provident nostrum at
    vero earum rerum sequi, ut corrupti tenetur non totam quas explicabo, labore necessitatibus vitae. Illo officia odit
    asperiores maiores maxime molestiae suscipit deserunt ea alias itaque, vero commodi qui possimus distinctio
    doloremque! Consequuntur laborum eaque itaque pariatur hic sequi, amet accusantium vitae alias ratione repellat
    dignissimos. Iure eligendi ab ratione aspernatur? Aperiam voluptas eligendi ea, commodi architecto quibusdam! Rerum
    excepturi, magni culpa, nostrum illum magnam quidem ipsam, fuga tenetur id hic earum mollitia soluta. Ab repellendus
    explicabo pariatur impedit? Excepturi tempore ipsam voluptatibus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, hic ad animi porro officia provident nostrum at
    vero earum rerum sequi, ut corrupti tenetur non totam quas explicabo, labore necessitatibus vitae. Illo officia odit
    asperiores maiores maxime molestiae suscipit deserunt ea alias itaque, vero commodi qui possimus distinctio
    doloremque! Consequuntur laborum eaque itaque pariatur hic sequi, amet accusantium vitae alias ratione repellat
    dignissimos. Iure eligendi ab ratione aspernatur? Aperiam voluptas eligendi ea, commodi architecto quibusdam! Rerum
    excepturi, magni culpa, nostrum illum magnam quidem ipsam, fuga tenetur id hic earum mollitia soluta. Ab repellendus
    explicabo pariatur impedit? Excepturi tempore ipsam voluptatibus!</p>
  <p class="mb-0 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, hic ad animi porro officia
    provident nostrum at
    vero earum rerum sequi, ut corrupti tenetur non totam quas explicabo, labore necessitatibus vitae. Illo officia odit
    asperiores maiores maxime molestiae suscipit deserunt ea alias itaque, vero commodi qui possimus distinctio
    doloremque! Consequuntur laborum eaque itaque pariatur hic sequi, amet accusantium vitae alias ratione repellat
    dignissimos. Iure eligendi ab ratione aspernatur? Aperiam voluptas eligendi ea, commodi architecto quibusdam! Rerum
    excepturi, magni culpa, nostrum illum magnam quidem ipsam, fuga tenetur id hic earum mollitia soluta. Ab repellendus
    explicabo pariatur impedit? Excepturi tempore ipsam voluptatibus!</p>
</div>
</div>
<%- include('../includes/footer') %>