<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="./img/favicon.ico">
<!-- <link rel="icon" href="img/favicon.ico" type="image/x-icon"> -->
<% if (title) {%>
  <title>HNGi8 | <%= title %></title> 
<% } %>