<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (title) {%>
  <title>HNGI8 | <%= title %></title>

  <% if (title == 'home page') {%>
      <link href="css/stylesHome.css" rel="stylesheet" type="text/css" />
  <% } %>
  
<% } %>