<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
<% if (title) {%>
  <title>HNGi8 | <%= title %></title>

  <% if (title == 'home page') {%>
      <link href="styles/custom-css/stylesHome.css" rel="stylesheet" type="text/css" />
  <% } %>
  
<% } %>